/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@tailwind components;
@tailwind utilities;

body {
  @apply text-rb-gray-8 font-sans;
}
#__next {
  @apply flex flex-col min-h-screen;
}

.overflow-scrollbar-0::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.overflow-scrollbar-0 {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

a {
  @apply text-blue-600;
  transition: color 125ms ease-in-out
}
a:hover {
  @apply text-blue-500;
}

.jobDescription__container br + br { display: none; }
.topic_questionContainer > p {
  line-height: 1.5rem;
  margin-bottom: 0.5em;
}
.break-inside {
  break-inside: avoid;
}